/extra
/*.aux
/*.bbl
/*.blg
/*.log
/*.nav
/*.out
/*.snm
/*.synctex
/*.toc
/01_1-ACA-Organizational-Slides.pdf
/graph/*.eps
/audio/*.pk
/matlab/*.asv
/texniccenter/*.tps
/02_1-ACA-Introduction-Slides.pdf
/03_1-ACA-Fundamentals-Slides.pdf
/matlab/*.bak
/audio/quantized_12.wav
/audio/quantized_16.wav
/audio/quantized_2.wav
/audio/quantized_4.wav
/audio/quantized_8.wav
/03_2-ACA-Fundamentals-Slides.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.toc
/04_1-ACA-Features-Slides.pdf
/tmp
/04_2-ACA-Features-Slides.pdf
/04_3-ACA-Features-Slides.pdf
/05_1-ACA-Intensity-Slides.pdf
/04_2-ACA-Features-Slides-blx.bib
/04_2-ACA-Features-Slides.run.xml
/04_3-ACA-Features-Slides-blx.bib
/04_3-ACA-Features-Slides.run.xml
/05_1-ACA-Intensity-Slides-blx.bib
/05_1-ACA-Intensity-Slides.run.xml
/06_1-ACA-Tonal-Slides-blx.bib
/06_1-ACA-Tonal-Slides.pdf
/06_1-ACA-Tonal-Slides.run.xml
/*.tmp
/*.bak
/06_2-ACA-Tonal-Slides.pdf
/06_2-ACA-Tonal-Slides-blx.bib
/06_2-ACA-Tonal-Slides.run.xml
/06_3-ACA-Tonal-Slides-blx.bib
/06_3-ACA-Tonal-Slides.pdf
/06_3-ACA-Tonal-Slides.run.xml
/06_4-ACA-Tonal-Slides-blx.bib
/06_4-ACA-Tonal-Slides.pdf
/06_4-ACA-Tonal-Slides.run.xml
/06_5-ACA-Tonal-Slides-blx.bib
/06_5-ACA-Tonal-Slides.pdf
/06_5-ACA-Tonal-Slides.run.xml
/06_6-ACA-Tonal-Slides.pdf
/01_1-ACA-Organizational-Slides-blx.bib
/01_1-ACA-Organizational-Slides.run.xml
/02_1-ACA-Introduction-Slides-blx.bib
/02_1-ACA-Introduction-Slides.run.xml
/03_1-ACA-Fundamentals-Slides-blx.bib
/03_1-ACA-Fundamentals-Slides.run.xml
/06_6-ACA-Tonal-Slides-blx.bib
/06_6-ACA-Tonal-Slides.run.xml
/03_2-ACA-Fundamentals-Slides-blx.bib
/03_2-ACA-Fundamentals-Slides.run.xml
/04_1-ACA-Features-Slides-blx.bib
/04_1-ACA-Features-Slides.run.xml
/07_1-ACA-Temporal-Slides-blx.bib
/07_1-ACA-Temporal-Slides.pdf
/07_1-ACA-Temporal-Slides.run.xml
/07_2-ACA-Temporal-Slides-blx.bib
/07_2-ACA-Temporal-Slides.pdf
/07_2-ACA-Temporal-Slides.run.xml
/06_4-ACA-NMF-Slides-blx.bib
/06_4-ACA-NMF-Slides.run.xml
/08_1-ACA-Alignment-Slides-blx.bib
/08_1-ACA-Alignment-Slides.run.xml
/06_4-ACA-NMF-Slides.pdf
/08_1-ACA-Alignment-Slides.pdf
/09_1-ACA-Genre-Slides-blx.bib
/09_1-ACA-Genre-Slides.pdf
/09_1-ACA-Genre-Slides.run.xml
/09_2-ACA-Genre-Slides-blx.bib
/09_2-ACA-Genre-Slides.pdf
/09_2-ACA-Genre-Slides.run.xml
/10_1-ACA-Fingerprinting-Slides-blx.bib
/10_1-ACA-Fingerprinting-Slides.pdf
/10_1-ACA-Fingerprinting-Slides.run.xml
/12_1-ACA-Structure-Slides-blx.bib
/12_1-ACA-Structure-Slides.pdf
/12_1-ACA-Structure-Slides.run.xml
/00-0-ACA-Introduction-Online-blx.bib
/00-0-ACA-Introduction-Online.pdf
/00-0-ACA-Introduction-Online.run.xml
/01-0-ACA-Introduction-2-MIR-Online-blx.bib
/01-0-ACA-Introduction-2-MIR-Online.pdf
/01-0-ACA-Introduction-2-MIR-Online.run.xml
/02-0-ACA-Fundamentals-Signals-Online-blx.bib
/02-0-ACA-Fundamentals-Signals-Online.pdf
/02-0-ACA-Fundamentals-Signals-Online.run.xml
/02-1-ACA-Fundamentals-Sampling-Online-blx.bib
/02-1-ACA-Fundamentals-Sampling-Online.pdf
/02-1-ACA-Fundamentals-Sampling-Online.run.xml
/graph/animateSampling/*.eps
/02-2-ACA-Fundamentals-Quantization-Online-blx.bib
/02-2-ACA-Fundamentals-Quantization-Online.pdf
/02-2-ACA-Fundamentals-Quantization-Online.run.xml
/02-00-ACA-Fundamentals-Signals-Online-blx.bib
/02-00-ACA-Fundamentals-Signals-Online.pdf
/02-00-ACA-Fundamentals-Signals-Online.run.xml
/02-01-ACA-Fundamentals-Sampling-Online-blx.bib
/02-01-ACA-Fundamentals-Sampling-Online.pdf
/02-01-ACA-Fundamentals-Sampling-Online.run.xml
/02-03-ACA-Fundamentals-Convolution-Online-blx.bib
/02-03-ACA-Fundamentals-Convolution-Online.pdf
/02-03-ACA-Fundamentals-Convolution-Online.run.xml
/02-04-ACA-Fundamentals-Blocking-Online-blx.bib
/02-04-ACA-Fundamentals-Blocking-Online.pdf
/02-04-ACA-Fundamentals-Blocking-Online.run.xml
/02-05-ACA-Fundamentals-FourierT-blx.bib
/02-05-ACA-Fundamentals-FourierT.pdf
/02-05-ACA-Fundamentals-FourierT.run.xml
/02-07-ACA-Fundamentals-Correlation-blx.bib
/02-07-ACA-Fundamentals-Correlation.pdf
/02-07-ACA-Fundamentals-Correlation.run.xml
/graph/animateBlockedCorrelation/*.eps
/graph/animateCorrelation/*.eps
/02-06-ACA-Fundamentals-AlternateFreqT-blx.bib
/02-06-ACA-Fundamentals-AlternateFreqT.pdf
/02-06-ACA-Fundamentals-AlternateFreqT.run.xml
/03-00-ACA-Features-Introduction-blx.bib
/03-00-ACA-Features-Introduction.pdf
/03-00-ACA-Features-Introduction.run.xml
/03-01-ACA-Features-Statistical-blx.bib
/03-01-ACA-Features-Statistical.pdf
/03-01-ACA-Features-Statistical.run.xml
/03-02-ACA-Features-Spectral-blx.bib
/03-02-ACA-Features-Spectral.pdf
/03-02-ACA-Features-Spectral.run.xml
/03-03-ACA-Features-Other-blx.bib
/03-03-ACA-Features-Other.pdf
/03-03-ACA-Features-Other.run.xml
/03-04-ACA-Feature-Postprocessing-blx.bib
/03-04-ACA-Feature-Postprocessing.pdf
/03-04-ACA-Feature-Postprocessing.run.xml
/03-05-ACA-Feature-Dimensionality-blx.bib
/03-05-ACA-Feature-Dimensionality.pdf
/03-05-ACA-Feature-Dimensionality.run.xml
/04-01-ACA-Intensity-blx.bib
/04-01-ACA-Intensity.pdf
/04-01-ACA-Intensity.run.xml
/05-01-ACA-Tonal-Music-blx.bib
/05-01-ACA-Tonal-Music.pdf
/05-01-ACA-Tonal-Music.run.xml
/05-02-ACA-Tonal-Monof0-blx.bib
/05-02-ACA-Tonal-Monof0.pdf
/05-02-ACA-Tonal-Monof0.run.xml
/05-03-ACA-Tonal-InstantaneousFrequency-blx.bib
/05-03-ACA-Tonal-InstantaneousFrequency.pdf
/05-03-ACA-Tonal-InstantaneousFrequency.run.xml
/05-04-ACA-Tonal-Polyf0-blx.bib
/05-04-ACA-Tonal-Polyf0.pdf
/05-04-ACA-Tonal-Polyf0.run.xml
/05-00-ACA-Tonal-Perception-blx.bib
/05-00-ACA-Tonal-Perception.pdf
/05-00-ACA-Tonal-Perception.run.xml
/05-05-ACA-Tonal-Polyf0-Nmf-blx.bib
/05-05-ACA-Tonal-Polyf0-Nmf.pdf
/05-05-ACA-Tonal-Polyf0-Nmf.run.xml
/02-01-ACA-Fundamentals-Sampling-blx.bib
/02-01-ACA-Fundamentals-Sampling.pdf
/02-01-ACA-Fundamentals-Sampling.run.xml
/05-06-ACA-Tonal-Tuning-blx.bib
/05-06-ACA-Tonal-Tuning.pdf
/05-06-ACA-Tonal-Tuning.run.xml
/05-06-ACA-Tonal-Tuning.tex
/05-07-ACA-Tonal-Key-blx.bib
/05-07-ACA-Tonal-Key.pdf
/05-07-ACA-Tonal-Key.run.xml
/05-07-ACA-Tonal-Key.tex
/05-08-ACA-Tonal-Chord-blx.bib
/05-08-ACA-Tonal-Chord.pdf
/05-08-ACA-Tonal-Chord.run.xml
/06-00-ACA-Temporal-Intro-blx.bib
/06-00-ACA-Temporal-Intro.pdf
/06-00-ACA-Temporal-Intro.run.xml
/06-01-ACA-Temporal-Onsets-blx.bib
/06-01-ACA-Temporal-Onsets.pdf
/06-01-ACA-Temporal-Onsets.run.xml
/00-00-ACA-Introduction-blx.bib
/00-00-ACA-Introduction.pdf
/00-00-ACA-Introduction.run.xml
/01-00-ACA-Introduction-2-MIR-blx.bib
/01-00-ACA-Introduction-2-MIR.pdf
/01-00-ACA-Introduction-2-MIR.run.xml
/06-02-ACA-Temporal-Tempo-blx.bib
/06-02-ACA-Temporal-Tempo.pdf
/06-02-ACA-Temporal-Tempo.run.xml
/06-03-ACA-Temporal-Meter-blx.bib
/06-03-ACA-Temporal-Meter.pdf
/06-03-ACA-Temporal-Meter.run.xml
/06-04-ACA-Temporal-Rhythm-blx.bib
/06-04-ACA-Temporal-Rhythm.pdf
/06-04-ACA-Temporal-Rhythm.run.xml
/07-00-ACA-DTW-blx.bib
/07-00-ACA-DTW.pdf
/07-00-ACA-DTW.run.xml
/02-00-ACA-Fundamentals-Signals-blx.bib
/02-00-ACA-Fundamentals-Signals.pdf
/02-00-ACA-Fundamentals-Signals.run.xml
/07-01-ACA-Alignment-blx.bib
/07-01-ACA-Alignment.pdf
/07-01-ACA-Alignment.run.xml
/08-00-ACA-Classifiers-blx.bib
/08-00-ACA-Classifiers.pdf
/08-00-ACA-Classifiers.run.xml
/08-01-ACA-Genre-blx.bib
/08-01-ACA-Genre.pdf
/08-01-ACA-Genre.run.xml
/08-02-ACA-Similarity-blx.bib
/08-02-ACA-Similarity.pdf
/08-02-ACA-Similarity.run.xml
/08-03-ACA-Mood-blx.bib
/08-03-ACA-Mood.pdf
/08-03-ACA-Mood.run.xml
/09-00-ACA-Fingerprinting-blx.bib
/09-00-ACA-Fingerprinting.pdf
/09-00-ACA-Fingerprinting.run.xml
/02-02-ACA-Fundamentals-Quantization-blx.bib
/02-02-ACA-Fundamentals-Quantization.pdf
/02-02-ACA-Fundamentals-Quantization.run.xml
/02-03-ACA-Fundamentals-Convolution-blx.bib
/02-03-ACA-Fundamentals-Convolution.pdf
/02-03-ACA-Fundamentals-Convolution.run.xml
/02-04-ACA-Fundamentals-Blocking-blx.bib
/02-04-ACA-Fundamentals-Blocking.pdf
/02-04-ACA-Fundamentals-Blocking.run.xml
/04-00-ACA-Intensity-blx.bib
/04-00-ACA-Intensity.run.xml
/11-00-ACA-Structure-blx.bib
/11-00-ACA-Structure.run.xml
/python/plotwithpython/.vs/plotwithpython/v16/*.suo
/python/plotwithpython/plotwithpython.sln
/python/plotwithpython/plotwithpython/plotwithpython.py
/python/plotwithpython/plotwithpython/plotwithpython.pyproj
/include/*.tmp
/*.xml
/02-00-ACA-System-Intro-blx.bib
/03-00-ACA-Input-Signals-blx.bib
/03-01-ACA-Input-Signals-blx.bib
/graph/*.svg
/03-02-ACA-Input-Blocking-blx.bib
/03-03-ACA-Input-Pre-Processing-blx.bib
/03-04-01-ACA-Input-TF-Fourier-blx.bib
/03-04-02-ACA-Input-TF-CQT-blx.bib
/03-04-04-ACA-Input-TF-Filterbanks-blx.bib
/03-04-02-ACA-Input-TF-MelSpecGram-blx.bib
/03-06-ACA-Input-Features-blx.bib
/03-07-01-ACA-Input-Post-Processing-blx.bib
/03-07-04-ACA-Input-Post-Processing-blx.bib
/03-07-ACA-Input-Post-Processing-blx.bib
/0A-02-02-ACA-Fundamentals-Correlation-blx.bib
/04-01-ACA-Inference-Classification-blx.bib
/04-02-ACA-Inference-RegressionClustering-blx.bib
/05-00-ACA-Data-Intro-blx.bib
/06-00-ACA-Evaluation-blx.bib
/07-01-ACA-Tonal-Perception-blx.bib
/07-02-ACA-Tonal-Music-blx.bib
/07-03-03-ACA-Tonal-Monof0-blx.bib
/0C-06-ACA-Tonal-InstantaneousFrequency-blx.bib
/0A-01-ACA-Fundamentals-Digitization-blx.bib
/0A-02-ACA-Fundamentals-Convolution-blx.bib
/0B-06-ACA-Tonal-InstantaneousFrequency-blx.bib
/07-03-04-ACA-Tonal-Polyf0-blx.bib
/07-03-05-ACA-Tonal-F0Eval-blx.bib
/07-04-ACA-Tonal-TuningFreq-blx.bib
/07-05-ACA-Tonal-Key-blx.bib
/07-06-ACA-Tonal-Chord-blx.bib
/08-00-ACA-Intensity-blx.bib
/09-01-ACA-Temporal-Intro-blx.bib
/09-03-ACA-Temporal-Onsets-blx.bib
/09-04-ACA-Temporal-BeatHisto-blx.bib
/09-05-ACA-Temporal-Tempo-blx.bib
/09-06-ACA-Temporal-Meter-blx.bib
/10-01-ACA-Alignment-DTW-blx.bib
/03-04-03-ACA-Input-TF-MelSpecGram-blx.bib
/10-02-ACA-Alignment-blx.bib
/0A-03-ACA-Fundamentals-Correlation-blx.bib
/03-07-04-ACA-Input-Feature-Dimensionality-Reduction-blx.bib
/11-00-ACA-Fingerprinting-blx.bib
/12-00-ACA-Genre-blx.bib
/13-00-ACA-Similarity-blx.bib
/14-00-ACA-Mood-blx.bib
/16-00-ACA-Music-Performance-Analysis-blx.bib
03-02-05-ACA-Input-Blocking-blx.bib
03-02-ACA-Input-Pre-Processing-blx.bib
03-03-01-ACA-Input-TF-Fourier-blx.bib
03-03-02-ACA-Input-TF-CQT-blx.bib
03-03-03-ACA-Input-TF-MelSpecGram-blx.bib
03-03-04-ACA-Input-TF-Filterbanks-blx.bib
03-05-ACA-Input-Features-blx.bib
03-06-ACA-Input-FeatureLearning-blx.bib
12-01-ACA-Similarity-blx.bib
12-02-ACA-Genre-blx.bib
13-00-ACA-Mood-blx.bib
15-00-ACA-Music-Performance-Analysis-blx.bib
/09-07-ACA-Temporal-Structure-blx.bib
