/extra
/*.aux
/*.bbl
/*.blg
/*.log
/*.nav
/*.out
/*.snm
/*.synctex
/*.toc
/01_1-ACA-Organizational-Slides.pdf
/graph/*.eps
/audio/*.pk
/matlab/*.asv
/texniccenter/*.tps
/02_1-ACA-Introduction-Slides.pdf
/03_1-ACA-Fundamentals-Slides.pdf
/matlab/*.bak
/audio/quantized_12.wav
/audio/quantized_16.wav
/audio/quantized_2.wav
/audio/quantized_4.wav
/audio/quantized_8.wav
/03_2-ACA-Fundamentals-Slides.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.toc
/04_1-ACA-Features-Slides.pdf
/tmp
/04_2-ACA-Features-Slides.pdf
/04_3-ACA-Features-Slides.pdf
/05_1-ACA-Intensity-Slides.pdf
/04_2-ACA-Features-Slides-blx.bib
/04_2-ACA-Features-Slides.run.xml
/04_3-ACA-Features-Slides-blx.bib
/04_3-ACA-Features-Slides.run.xml
/05_1-ACA-Intensity-Slides-blx.bib
/05_1-ACA-Intensity-Slides.run.xml
/06_1-ACA-Tonal-Slides-blx.bib
/06_1-ACA-Tonal-Slides.pdf
/06_1-ACA-Tonal-Slides.run.xml
/*.tmp
/*.bak
/06_2-ACA-Tonal-Slides.pdf
/06_2-ACA-Tonal-Slides-blx.bib
/06_2-ACA-Tonal-Slides.run.xml
/06_3-ACA-Tonal-Slides-blx.bib
/06_3-ACA-Tonal-Slides.pdf
/06_3-ACA-Tonal-Slides.run.xml
/06_4-ACA-Tonal-Slides-blx.bib
/06_4-ACA-Tonal-Slides.pdf
/06_4-ACA-Tonal-Slides.run.xml
/06_5-ACA-Tonal-Slides-blx.bib
/06_5-ACA-Tonal-Slides.pdf
/06_5-ACA-Tonal-Slides.run.xml
/06_6-ACA-Tonal-Slides.pdf
/01_1-ACA-Organizational-Slides-blx.bib
/01_1-ACA-Organizational-Slides.run.xml
/02_1-ACA-Introduction-Slides-blx.bib
/02_1-ACA-Introduction-Slides.run.xml
/03_1-ACA-Fundamentals-Slides-blx.bib
/03_1-ACA-Fundamentals-Slides.run.xml
/06_6-ACA-Tonal-Slides-blx.bib
/06_6-ACA-Tonal-Slides.run.xml
/03_2-ACA-Fundamentals-Slides-blx.bib
/03_2-ACA-Fundamentals-Slides.run.xml
/04_1-ACA-Features-Slides-blx.bib
/04_1-ACA-Features-Slides.run.xml
/07_1-ACA-Temporal-Slides-blx.bib
/07_1-ACA-Temporal-Slides.pdf
/07_1-ACA-Temporal-Slides.run.xml
/07_2-ACA-Temporal-Slides-blx.bib
/07_2-ACA-Temporal-Slides.pdf
/07_2-ACA-Temporal-Slides.run.xml
/06_4-ACA-NMF-Slides-blx.bib
/06_4-ACA-NMF-Slides.run.xml
/08_1-ACA-Alignment-Slides-blx.bib
/08_1-ACA-Alignment-Slides.run.xml
/06_4-ACA-NMF-Slides.pdf
/08_1-ACA-Alignment-Slides.pdf
/09_1-ACA-Genre-Slides-blx.bib
/09_1-ACA-Genre-Slides.pdf
/09_1-ACA-Genre-Slides.run.xml
/09_2-ACA-Genre-Slides-blx.bib
/09_2-ACA-Genre-Slides.pdf
/09_2-ACA-Genre-Slides.run.xml
/10_1-ACA-Fingerprinting-Slides-blx.bib
/10_1-ACA-Fingerprinting-Slides.pdf
/10_1-ACA-Fingerprinting-Slides.run.xml
/12_1-ACA-Structure-Slides-blx.bib
/12_1-ACA-Structure-Slides.pdf
/12_1-ACA-Structure-Slides.run.xml
/00-0-ACA-Introduction-Online-blx.bib
/00-0-ACA-Introduction-Online.pdf
/00-0-ACA-Introduction-Online.run.xml
/01-0-ACA-Introduction-2-MIR-Online-blx.bib
/01-0-ACA-Introduction-2-MIR-Online.pdf
/01-0-ACA-Introduction-2-MIR-Online.run.xml
/02-0-ACA-Fundamentals-Signals-Online-blx.bib
/02-0-ACA-Fundamentals-Signals-Online.pdf
/02-0-ACA-Fundamentals-Signals-Online.run.xml
/02-1-ACA-Fundamentals-Sampling-Online-blx.bib
/02-1-ACA-Fundamentals-Sampling-Online.pdf
/02-1-ACA-Fundamentals-Sampling-Online.run.xml
/graph/animateSampling/*.eps
/02-2-ACA-Fundamentals-Quantization-Online-blx.bib
/02-2-ACA-Fundamentals-Quantization-Online.pdf
/02-2-ACA-Fundamentals-Quantization-Online.run.xml
/02-00-ACA-Fundamentals-Signals-Online-blx.bib
/02-00-ACA-Fundamentals-Signals-Online.pdf
/02-00-ACA-Fundamentals-Signals-Online.run.xml
/02-01-ACA-Fundamentals-Sampling-Online-blx.bib
/02-01-ACA-Fundamentals-Sampling-Online.pdf
/02-01-ACA-Fundamentals-Sampling-Online.run.xml
/02-03-ACA-Fundamentals-Convolution-Online-blx.bib
/02-03-ACA-Fundamentals-Convolution-Online.pdf
/02-03-ACA-Fundamentals-Convolution-Online.run.xml
/02-04-ACA-Fundamentals-Blocking-Online-blx.bib
/02-04-ACA-Fundamentals-Blocking-Online.pdf
/02-04-ACA-Fundamentals-Blocking-Online.run.xml
/02-05-ACA-Fundamentals-FourierT-blx.bib
/02-05-ACA-Fundamentals-FourierT.pdf
/02-05-ACA-Fundamentals-FourierT.run.xml
/02-07-ACA-Fundamentals-Correlation-blx.bib
/02-07-ACA-Fundamentals-Correlation.pdf
/02-07-ACA-Fundamentals-Correlation.run.xml
/graph/animateBlockedCorrelation/*.eps
/graph/animateCorrelation/*.eps
/02-06-ACA-Fundamentals-AlternateFreqT-blx.bib
/02-06-ACA-Fundamentals-AlternateFreqT.pdf
/02-06-ACA-Fundamentals-AlternateFreqT.run.xml
/03-00-ACA-Features-Introduction-blx.bib
/03-00-ACA-Features-Introduction.pdf
/03-00-ACA-Features-Introduction.run.xml
/03-01-ACA-Features-Statistical-blx.bib
/03-01-ACA-Features-Statistical.pdf
/03-01-ACA-Features-Statistical.run.xml
/03-02-ACA-Features-Spectral-blx.bib
/03-02-ACA-Features-Spectral.pdf
/03-02-ACA-Features-Spectral.run.xml
