/01_1-ACA-Organizational-Slides.tcp
/02_1-ACA-Introduction-Slides.tcp
/03_1-ACA-Fundamentals-Slides.tcp
/03_2-ACA-Fundamentals-Slides.tcp
/04_1-ACA-Features-Slides.tcp
/04_2-ACA-Features-Slides.tcp
/04_3-ACA-Features-Slides.tcp
/05_1-ACA-Intensity-Slides.tcp
/06_1-ACA-Tonal-Slides.tcp
/06_2-ACA-Tonal-Slides.tcp
/06_3-ACA-Tonal-Slides.tcp
/06_4-ACA-NMF-Slides.tcp
/06_4-ACA-Tonal-Slides.tcp
/06_5-ACA-Tonal-Slides.tcp
/06_6-ACA-Tonal-Slides.tcp
/07_1-ACA-Temporal-Slides.tcp
/07_2-ACA-Temporal-Slides.tcp
/08_1-ACA-Alignment-Slides.tcp
/09_1-ACA-Genre-Slides.tcp
/09_2-ACA-Genre-Slides.tcp
/10_1-ACA-Fingerprinting-Slides.tcp
/12_1-ACA-Structure-Slides.tcp
